:root {
  --base-color: #464E47;
  --base-color-light: hsl(from var(--base-color) h s calc(l + 10)); 
  --base-color-lighter: hsl(from var(--base-color) h s calc(l + 20));
  --base-color-dark: hsl(from var(--base-color) h s calc(l - 5));
  --base-color-darker: hsl(from var(--base-color) h s calc(l - 10));

  --accent-color: hsl(142, 62, 75);
  --accent-color-light: hsl(from var(--accent-color) h s calc(l + 10));
  --accent-color-dark: hsl(from var(--accent-color) h s calc(l + 20));

  --text-color: #ffffff;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;
  --spacing-4xl: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  background: var(--base-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
}

.format-button,
.button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button {
  border-radius: 25%; 
  transition: all 0.5s ease;
  color: hsl(from #ffffff h s calc(l - 10) / 0.5);
  background-color: hsl(from var(--base-color-dark) h s l / 0.5);
  padding: var(--spacing-sm);
}

.format-button {
  font-size: var(--text-lg);
  font-weight: 500;
  color: hsl(from #ffffff h s l / 0.5);
  transition: all 0.1s ease;
}

.format-button:hover {
  color: #ffffff;
}

.button:hover {
  background-color: hsl(from var(--base-color-darker) h s l / 0.5);
}

.clock-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.clock-controls {
  display: inline-flex;
  gap: var(--spacing-sm);
}

.digital-clock.active,
.settings.active,
.digital-stopwatch.active {
  color: #ffffff;
}

.digital-clock:active,
.settings:active,
.digital-stopwatch:active {
  transform: scale(0.85);
}


.main-container {
  background: var(--base-color-darker);
  text-align: center;
  border: 1px solid var(--base-color-light);
  padding: var(--spacing-2xl) var(--spacing-4xl);
  border-radius: 15px;
}

.clock-flex {
  display: flex;
  gap: var(--spacing-sm);
  justify-content: center;
  align-items: center;
}

.time {
  color: var(--text-color);
  font-size: var(--text-6xl);
}

.date-container,
.clock-flex {
  margin-bottom: var(--spacing-base);
}

.date-container,
.timezone-container {
  color: hsl(from var(--text-color) h s calc(l - 10) / 0.5);
}

.date,
.timezone {
  font-size: var(--text-lg);
}

.separator {
  font-size: var(--text-3xl);
  color:hsl(from var(--text-color) h s calc(l - 10) / 0.5);
}

.format-selector-container {
  display: flex;
  gap: var(--spacing-base);
  background: hsl(from var(--base-color-darker) h s l / 0.5);
  padding: var(--spacing-sm) var(--spacing-base);
  border-radius: 10px;
  margin-bottom: var(--spacing-xs);
}

.format-12h.active,
.format-24h.active {
  color: #ffffff;
}

.right-controls {
  display: flex;
  top: -60px;
  justify-content: right;
  opacity: 0;
  transition: all 0.2s ease;
  transform: translateY(0.2rem);
}

.right-controls.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.seconds,
.period {
  color: hsl(from #ffffff h s l / 0.5);
}

.seconds {
  font-size: var(--text-5xl);
}

.period {
  font-size: var(--text-3xl);
  margin-left: var(--spacing-base);
}

.clock-section {
  display: none;
}

.clock-section.active {
  display: block;
}